<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <event name="checkout_onepage_controller_success_action">
        <observer name="do-order-success" instance="MDevs\Shipping\Observer\CheckoutOnepageControllerSuccessActionObserver"  />
    </event>
</config>
