.delivery-options-container {
    float: left;
    width: 320px;
    margin-bottom: 40px;
}

.delivery-options-container h2 {
    margin: 0 0 10px;
}

.delivery-options-container .do-radio label {
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid #ccc;
}

.delivery-options-container .do-radio label input {
    box-shadow: none;
}

.delivery-options-container .delivery-points ul {
    list-style: none;
    padding-left: 0px;
    max-height: 300px;
    overflow: auto;
}

.delivery-options-container .delivery-points ul li:hover {
    background: #f5f5f5;
}

.delivery-options-container .delivery-points ul li {
    transition: all .3s ease;
}

.delivery-options-container .delivery-points ul li {
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    margin: 0;
}

.delivery-options-container .delivery-points ul li label {
    border: none;
    position: relative;
    padding-left: 20px;
    font-size: 12px;
}

.delivery-options-container .delivery-points ul li label input {
    position: absolute;
    left: 0;
    outline: none;
}

form#get-zip-points {
    display: flex;
    padding: 10px 0;
    position: relative;
    min-height: 60px;
    align-items: center;
}

form#get-zip-points .zip-form.zip-field {
    flex-grow: 1;
}

form#get-zip-points .zip-form.zip-submit {
    padding-left: 5px;
}

form#get-zip-points.active:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../images/loader-1.gif') no-repeat center center rgba(255,255,255, .7);
    display: block;
    z-index: 99;
    background-size: 35px;
}

.delivery-options-container .delivery-points ul li.notfound {
    border: none;
    background: rgb(255, 215, 215);
    padding: 5px 10px;
}
